@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin "daisyui";
/* 
@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(95.127% 0.007 260.731);
  --color-base-200: oklch(93.299% 0.01 261.788);
  --color-base-300: oklch(89.925% 0.016 262.749);
  --color-base-content: oklch(32.437% 0.022 264.182);
  --color-primary: oklch(70% 0.165 254.624);
  --color-primary-content: oklch(28% 0.091 267.935);
  --color-secondary: oklch(76% 0.233 130.85);
  --color-secondary-content: oklch(27% 0.072 132.109);
  --color-accent: oklch(77.464% 0.062 217.469);
  --color-accent-content: oklch(15.492% 0.012 217.469);
  --color-neutral: oklch(45.229% 0.035 264.131);
  --color-neutral-content: oklch(89.925% 0.016 262.749);
  --color-info: oklch(93% 0.034 272.788);
  --color-info-content: oklch(54% 0.245 262.881);
  --color-success: oklch(96% 0.067 122.328);
  --color-success-content: oklch(52% 0.154 150.069);
  --color-warning: oklch(97% 0.071 103.193);
  --color-warning-content: oklch(55% 0.163 48.998);
  --color-error: oklch(93% 0.032 17.717);
  --color-error-content: oklch(44% 0.177 26.899);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
} */

@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(0.17 0.03 265.24);
    --color-base-200: oklch(19.314% 0.037 265.754);
    --color-base-300: oklch(0.21 0.03 265.53);
    --color-base-content: oklch(84.153% 0.007 265.754);
    --color-primary: oklch(0.69 0.16 241.16);
    --color-primary-content: oklch(19.314% 0.037 265.754);
    --color-secondary: oklch(60.682% 0.108 309.782);
    --color-secondary-content: oklch(96% 0.016 293.756);
    --color-accent: oklch(93.426% 0.102 94.555);
    --color-accent-content: oklch(18.685% 0.02 94.555);
    --color-neutral: oklch(0.95 0.03 227);
    --color-neutral-content: oklch(0 0 0);
    --color-info: oklch(93% 0.034 272.788);
    --color-info-content: oklch(54% 0.245 262.881);
    --color-success: oklch(96% 0.067 122.328);
    --color-success-content: oklch(52% 0.154 150.069);
    --color-warning: oklch(0.96 0.12 103.78);
    --color-warning-content: oklch(55% 0.163 48.998);
    --color-error: oklch(93% 0.032 17.717);
    --color-error-content: oklch(44% 0.177 26.899);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

body {
    font-family: "Space Grotesk", sans-serif;
}

code,
pre {
    font-family: "Fira Mono", monospace;
}

@layer components {
    input {
        @apply focus:ring-0 focus-visible:ring-0;
    }

    label > input {
        @apply !border-l-[2px] !border-l-white/20 focus:!border-l-secondary focus-visible:!border-l-secondary;
    }
}

@utility input {
    @apply outline-0 focus:outline-0 focus:border-primary focus-visible:outline-0 focus-visible:border-primary focus-within:outline-0 focus-within:border-primary transition-colors;
}

@utility textarea {
    @apply outline-0 focus:outline-0 focus:border-primary focus-visible:outline-0 focus-visible:border-primary focus-within:outline-0 focus-within:border-primary transition-colors;
}

@utility select {
    @apply outline-0 p-0 px-2 focus:outline-0 focus:border-primary focus-visible:outline-0 focus-visible:border-primary focus-within:outline-0 focus-within:border-primary transition-colors;
}

@utility btn-outline {
    @apply border border-base-300;
}

@utility btn-primary {
    @apply border border-primary-content/20;
}

@utility href {
    @apply underline underline-offset-2 decoration-primary decoration-dotted hover:bg-primary/20 p-px;
}

@utility href-white {
    @apply underline underline-offset-2 decoration-base-content decoration-dotted hover:bg-base-content/60 p-px;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}
